[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
"web.py" = "==0.40-dev1"

[dev-packages]
ipython = "*"
ipdb = "*"
pylint = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"
